@keyframes hueRotate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes bounceBack {
    100% {
        left: 0;
        top: 0
    }
}